*{
    font-family: monospace;
}

.container {
    width: 98vw;
    height: 90vh;
}
.grid{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.cell{
    background-color: rgb(53, 53, 53);
    margin: 1px;
    border-radius: 4px;
}

body{
    background-color: rgb(85, 85, 85);
}